/.vs/DepthCharts/DesignTimeBuild/.dtbcache
/.vs/DepthCharts/v15/.suo
/.vs/DepthCharts/v15/Server/sqlite3/db.lock
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide-shm
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide-wal
/Models/obj/*
/DepthChartsApp/obj/*
/Models.Tests/bin/*
/Models.Tests/obj/*
/DepthCharts/obj/*
/Models/bin/*
/DepthChartsApp/bin/*
/DepthCharts/bin/*
