/.vs/DepthCharts/DesignTimeBuild/.dtbcache
/.vs/DepthCharts/v15/.suo
/.vs/DepthCharts/v15/Server/sqlite3/db.lock
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide-shm
/.vs/DepthCharts/v15/Server/sqlite3/storage.ide-wal
/Models/obj/*
/DepthChartsApp/obj/Debug/App.g.i.cs
/DepthChartsApp/obj/Debug/DepthChartsApp.csproj.CoreCompileInputs.cache
/DepthChartsApp/obj/Debug/DepthChartsApp.csprojAssemblyReference.cache
/DepthChartsApp/obj/Debug/DepthChartsApp_MarkupCompile.i.cache
/DepthChartsApp/obj/Debug/DepthChartsApp_MarkupCompile.i.lref
/DepthChartsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DepthChartsApp/obj/Debug/MainWindow.g.i.cs
/DepthChartsApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DepthChartsApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DepthChartsApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Models.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Models.Tests/bin/Debug/Models.Tests.dll
/Models.Tests/bin/Debug/Models.Tests.pdb
/Models.Tests/bin/Debug/Models.dll
/Models.Tests/bin/Debug/Models.pdb
/Models.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Models.Tests/obj/Debug/Models.Tests.csproj.CopyComplete
/Models.Tests/obj/Debug/Models.Tests.csproj.CoreCompileInputs.cache
/Models.Tests/obj/Debug/Models.Tests.csproj.FileListAbsolute.txt
/Models.Tests/obj/Debug/Models.Tests.csprojAssemblyReference.cache
/Models.Tests/obj/Debug/Models.Tests.dll
/Models.Tests/obj/Debug/Models.Tests.pdb
/Models.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Models.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Models.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DepthCharts/bin/Debug/DepthCharts.exe
/DepthCharts/bin/Debug/DepthCharts.exe.config
/DepthCharts/bin/Debug/DepthCharts.pdb
/DepthCharts/obj/Debug/DepthCharts.csproj.CoreCompileInputs.cache
/DepthCharts/obj/Debug/DepthCharts.csproj.FileListAbsolute.txt
/DepthCharts/obj/Debug/DepthCharts.csprojAssemblyReference.cache
/DepthCharts/obj/Debug/DepthCharts.exe
/DepthCharts/obj/Debug/DepthCharts.pdb
/DepthCharts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DepthCharts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DepthCharts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DepthCharts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Models/bin/Debug/netstandard1.4/Models.deps.json
/Models/bin/Debug/netstandard1.4/Models.dll
/Models/bin/Debug/netstandard1.4/Models.pdb
